<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenido a Scape Room Barcelona
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-left">
    <h5><b>¡Descubre la ciudad jugando!</b></h5>
    <img src="../assets/imgHome/catedral.webp" alt="foto catedral">
    <p><b>“Secretos de la Antigua Barcelona”</b> es una aventura única y entretenida que permite conocer la ciudad, su historia y sus leyendas en forma de juego. En este divertido y singular Escape Room en Barcelona al aire libre vais a descubrir muchos datos curiosos acerca de la ciudad resolviendo varios acertijos y enigmas para llegar al punto final del juego y salvar al mundo.</p>
    <h3>El Gótico, el barrio más misterioso de Barcelona</h3>
    <img src="../assets/imgHome/plaza_real.jpg" alt="foto plaza real">
  </div>

</ion-content>
